body {
    font-family: 'Karla',  sans-serif;
    overflow-x: hidden;
}

header {
    text-align: center;
    background: none;
    color: #242424;
}

header .repo {
    display: block;
    padding-top:10px;
    font-family: "Fredoka One", sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

    header .donation {
        padding-top: 0px;
        font-size: 1em;
    }

.btn-outline {
    color:#63cdbf;
    font-size: 1.2em;
    border: solid 1.5px #63cdbf;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}
header .donation {
    display: block;
    padding-top:0px;
    font-family: "Karla", sans-serif;
    text-transform: none;
    font-size: 1.2em;
}
footer{
    padding-top: 50px;
    background-color: none;
    height:80px;
}
footer .footer-above {
    padding-top: 30px;
    background-color: none;
}
.btn-social {
    display: inline-block;
    padding-top:15px;
    height: 50px;
    width: 50px;
    border: 1.5px solid #63cdbf;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
