body {
    font-family: 'Karla',  sans-serif;
    overflow-x: hidden;
}

header {
    text-align: center;
    background: none;
    color: #242424;
}

header .repo {
    display: block;
    padding-top:10px;
    font-family: "Fredoka One", sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

.btn-outline {
    color:#63cdbf;
    font-size: 1.2em;
    border: solid 1.5px #63cdbf;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}



