/* ------ UniAW7.1 from Ian Nicoll & Dacal ------

font-family: -apple-system, sans-serif;

 */

body {
	position: fixed;
	margin: 0;
	padding: 0;
	font-family: BebasNeue;
	font-size:2.5vw;
/*	line-height:120%;*/
	overflow: hidden;
	color: #00FFFF;
	-webkit-animation: fadein 1s linear 1 normal;
	-webkit-animation-fill-mode: forwards;

}

* {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 }

.gray_bkg {
	-webkit-transform: translateZ(0);
	-webkit-filter: grayscale(0.4) brightness(0.8);
}

@font-face {
	font-family: 'DigitalDisplay';
	src: url('../Fonts/digital-7.ttf');
}

@font-face {
	font-family: 'FuturaLT';
	src: url('../Fonts/FuturaLT.ttf');
}

@font-face {
	font-family: 'FuturaLT-Light';
	src: url('../Fonts/FuturaLT-Light.ttf');
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../Fonts/BebasNeue.otf');
}

.FontColorRed {
	color: red;
}

.FontColorLime {
	color: Lime;
}

.fade-out {
	opacity: 0.0;
}

.fade-in {
	opacity: 1.0;
}

.scaleNormal {
	-webkit-transform: scale3d(1.0,1.0,1.0);
	opacity: 1.0;
 }

.scaleZero {
	-webkit-transform: scale3d(0.0,0.0,1.0);
	opacity: 0.0;
}

@-webkit-keyframes move {
	0%		{-webkit-transform : translateX(0%);}
	100%	{-webkit-transform : translateX(-75%);}
}

@-webkit-keyframes fadein {
	0%		{opacity : 0.0;}
	50%		{opacity : 0.0;}
	100%	{opacity : 1.0;}
}

@-webkit-keyframes animationsOnOffFader {
	0%		{opacity : 1.0;}
	70%		{opacity : 1.0;}
	100%	{opacity : 0.0;}
}

.forecastTranslateLeft { -webkit-transform: translateX(-50%); }
.forecastTranslateRight { -webkit-transform: translateX(0%); }

/* STATUS BAR */

#statusBarContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 30;
	overflow: hidden;
}

#statusBar {
	position: absolute;
	width: 100%;
	height: 20px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8), 0px 3px 10px rgba(0, 0, 0, 0.7);
	display: none;
}

#StatusBaruser {
	position: absolute; 
	/*background: url('../Images/Classic/statusbar.png') center no-repeat;*/
	background-size: 100% 100%;
	width: 100%;
    height: 100%;
    opacity: 1.0;
	z-index: 91;
}

/* TOUCH LAYERS */

#TouchShowHourlyForecast {
	position: absolute;
	top: 10.5%;
	left: 27%;
	width: 23%;
	height: 13%;
	z-index: 1000;
	display: none;
}

#animationsTouchLayer {
	position: absolute;
	top: 23.8%;
	left: 27%;
	width: 46%;
	height: 13%;
	z-index: 3000;
	display: none;
}

#animationsOff{
	position: absolute;
	top: 36.6%;
	text-align: center;
	width: 100%;
	height: 2%;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	font-size: 3.58vw;
	opacity: 0.8;
	display: none;
	z-index: 52;
	-webkit-animation: animationsOnOffFader 3s linear 1 normal;
	-webkit-animation-fill-mode: forwards;
}

#animationsOn{ 
	position: absolute;
	top: 36.6%;
	text-align: center;
	width: 100%;
	height: 2%;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	font-size: 3.58vw;
	opacity: 0.8;
	display: none;
	z-index: 52;
	-webkit-animation: animationsOnOffFader 3s linear 1 normal;
	-webkit-animation-fill-mode: forwards;
}

#TouchMoonInfo {
	position: absolute;
	top: 10.5%;
	left: 50%;
	width: 23%;
	height: 13%;
	z-index: 1000;
	display: none;
}

#TouchHourlyForecastSlide {
	position: absolute;
	top: 40%;
	left: 0px;
	width: 100%;
	height: 12%;
	z-index: 1003;
	display: none;
}

#TouchNext {
	position: absolute;
	top: 4%;
	right: 0%;
	width: 13%;
	height: 7%;
	z-index: 1001;
	display: none;
}

#Next1 {
	position: absolute;
	top: 2.5%;
	right: -15%;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0.0;
	font-size: 5vw;
	text-shadow: black -1px 1px 1px, black -2px 2px 3px;
	display: none;
}

#TouchPrevious {
	position: absolute;
	top: 4%;
	width: 13%;
	height: 7%;
	z-index: 1001;
	display: none;
}

#Prev1 {
	position: absolute;
	top: 2.5%;
	left: -15%;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0.0;
	font-size: 5vw;
	text-shadow: black -1px 1px 1px, black -2px 2px 3px;
	display: none;
}

#TouchHome {
	position: absolute;
	top: 2%;
	left: 30%;
	width: 40%;
	height: 7%;
	z-index: 1001;
	display: none;
}

#touch1 {
	position: absolute;
	top: 55.2%;
	left: 37.2%;
	width: 10%;
	height: 2.5%;
	font-size: 2.75vw;
	text-shadow: black 0px -1px 0px;
	text-align: center;
	z-index: 1000;
	opacity: 0.6;
}

#touch2{
	position: absolute;
	top: 55.2%;
	left: 50.6%;
	width: 10%;
	height: 2.5%;
	font-size: 2.75vw;
	text-shadow: black 0px -1px 0px;
	text-align: center;
	z-index: 1000;
	opacity: 0.6;
}

#touch3{
	position: absolute;
	top: 55.2%;
	left: 64.2%;
	width: 10%;
	height: 2.5%;
	font-size: 2.75vw;
	text-shadow: black 0px -1px 0px;
	text-align: center;
	z-index: 1000;
	opacity: 0.6;
}

#touch4{
	position: absolute;
	top: 55.2%;
	left: 76.75%;
	width: 10%;
	height: 2.5%;
	font-size: 2.75vw;
	text-shadow: black 0px -1px 0px;
	text-align: center;
	z-index: 1000;
	opacity: 0.6;
}

#home{
	z-index: 1;
	opacity: 1;
}

#forecastContainer{	
	z-index: 1;
	opacity: 0;
}

#Moonphase{
	z-index: 1;
	opacity: 0;
	
}

#MediaPlayer{
	z-index: 1;
	opacity: 0;
	
}

/* BACKGROUNDS */

#Overlay {
	position: absolute; 
	/*background: url('../Images/Classic/homeX.png') center no-repeat;*/
	background-size: 100% 100%; 
	width: 100%;
    height: 100%;
	z-index: 50;
}

#led1 {
	position: absolute; 
	background: url('../Images/Classic/1.png') center no-repeat;
	background-size: 100% 100%; 
	top: 1.5%;
	left: 0%;
	width: 100%;
    height: 100%;
	z-index: 50;
}

#led2 {
	position: absolute;
	background: url('../Images/Classic/2.png') center no-repeat;
	background-size: 100% 100%;
	top: 1.5%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 52;
}

#led3 {
	position: absolute;
	background: url('../Images/Classic/3.png') center no-repeat;
	background-size: 100% 100%;
	top: 1.5%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 52;
}

#led4 {
	position: absolute;
	background: url('../Images/Classic/4.png') center no-repeat;
	background-size: 100% 100%;
	top: 1.5%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 52;
}

#background {
    position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1.0;
    z-index: -20;
}

#LayerBack {
    position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1.0;
    z-index: -23;
}

#Now {
    position: absolute;
	width: 100%;
	height: 100%;
    z-index: -10;
    -webkit-transition: all 0.25s ease-in;
}

#Layer {
    position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	opacity: 1.0;
    z-index: -10;
    -webkit-transition: all 0.5s ease-in;
}

#fcbgtop {
	position: absolute;
	background: url('../Images/Classic/fcschatten.png') center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	top: 0%;
	z-index: 1;
}

#fcbg {
	position: absolute;
	background: url('../Images/Classic/forecatbg1.png') center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	top: 0%;
}

#mbg {
	position: absolute;
	background: url('../Images/Classic/moonbg1.png') center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	top: 0%;
}

/* TIMEDWALLS */

#WPContainerTW {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -10;
}

#WPoneTWContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 2s;
}

#WPoneTW {
	position: absolute;
	width: 400%;
	height: 100%;
	-webkit-animation-duration: 722s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

#WPtwoTWContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 2s;
}

#WPtwoTW {
	position: absolute;
	width: 400%;
	height: 100%;
	-webkit-animation-duration: 722s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

/* CLOCKS */

#Clock {
	position: absolute;
	top: 34%;
	left: -8.25%;
	width: 60.5%;
    height: 34%;
	z-index: 52;
}

#Day0Icon { /* CurrentConditionIcon */
	position: absolute;
	top: 45.4%;
	left: 77%;
	width: 8%;
	z-index: 50;
	opacity: 0.8;
	clip: rect(12px,212px,212px,0px);
}

#clockface {
	position: absolute;
	background-size: 100% 100%;
	width: 100%;
    height: 100%;
	opacity: 0.8;
	z-index: 1;
}

#clocklogo {
	position: absolute;
	background: url('../Images/Clock/logo.png') center no-repeat;
	background-size: 100% 100%;
	width: 100%;
    height: 100%;
	opacity: 0.8;
	z-index: 2;
}

#clockglass {
	position: absolute; 
	background: url('../Images/Clock/clockglass.png') center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 60;
}

/* ANALOG CLOCK */	

#analogClockFrame {
	position: absolute;
	background-size: 100% 100%;
	width: 100%;
    height: 100%;
	z-index: 2;
}

#clockhands {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 53;
}

#hourhand {
	background: url('../Images/Clock/day_hourhand.png') center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 53;
}

#minhand {
	background: url('../Images/Clock/day_minhand.png') center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 54;
}

#sechand {
	position: absolute;
	background: url('../Images/Clock/sechand.png') center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 54;
}
	
#node {
	background: url('../Images/Clock/node.png') center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 56;
}

/* DIGITAL CLOCK */

#Digitalclock {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0.5%;
	z-index: 53;			
}

#digitalClockFrame {
	position: absolute;
	background-size: 100% 100%;
	width: 100%;
    height: 100%;
	z-index: 2;
}

#hours_minutes {
	position: absolute;
    text-align: right;
	top: 45.6%;
    left: 28%;
	height: 8%;
	width: 30%;
	font-family: DigitalDisplay;
	font-size: 6vw;
	z-index: 55;
}

#second {
	position: absolute;
    text-align: left;
	top: 45.8%;
    left: 59%;
	height: 4%;
	width: 4%;
	font-family: DigitalDisplay;
	font-size: 3vw;
	z-index: 55;
}
	
#ampm {
	position: absolute;
    text-align: left;
	top: 49.6%;
    left: 59%;
	height: 4%;
	width: 4%;
	font-family: DigitalDisplay;
	font-size: 3vw;
	z-index: 55;
}

/* CLOCK CALENDAR */

#calendar {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
}

#number {
	position: absolute;
	width: 100%;
	height: 5%;
	top: 48%;
	text-align: center;
	font-size: 3.6vw;
	text-shadow: black -1px 1px 1px, black -2px 2px 3px;
}

#day {
	position: absolute;
	width: 100%;
	height: 4%;
	top: 35.5%;
	text-align: center;
	font-size: 3.5vw;
	text-shadow: black 0px -1px 0px;
}

#month {
	position: absolute;
	width: 100%;
	height: 5%;
	top: 40%;
	text-align: center;
	font-size: 3.4vw;
	text-shadow: black 0px -1px 0px;
}

#year {
	position: absolute;
	width: 100%;
	top: 55.7%;
	text-align: center;
	font-size: 3vw;
	text-shadow: black 0px -1px 0px;
}

/* Slide CALENDAR */

#Kalendershow{
	position: absolute;
	width: 100%;
	height: 100%;	
	opacity: 1.0;
	z-index: -11;
}	

#applelogo{
	position: absolute;
	background:url('../Images/Classic/apple.png') center no-repeat;
	background-size: 100% 100%; 
	top: 0.5%;
	left: 0%;
	width: 100%;
    height: 100%;
	z-index: 50;
	opacity: 1.0;
}

#SlideCalWrap{
	position: absolute;
	top: 0%;
	width: 100%;
    height: 100%;
	overflow: hidden;
	z-index: 50;
	-webkit-transition: all 0.2s ease-in;
}

#SlideLeft{
	position: absolute;
	background:url('../Images/Classic/Slide_left.png') center no-repeat;
	background-size: 100% 100%; 
	top: 6.5%;
	left: -24.5%;
	width: 78%;
	height: 13%;
	opacity: 1.0;
}

#SlideCalBG{
	position: absolute;
	background:url('../Images/Classic/slidecalbg.png') center no-repeat;
	background-size: 100% 100%; 
	top: 0%;
	left: 0%;
	width: 100%;
    height: 100%;
	opacity: 1.0;
}

#WeekDay1{
	position: absolute;
	top: 6.3%;
	left: 1%;
	width: 5%;
	height: 4%;
	text-align: center;
	font-size: 4vw;
	z-index: 121;
}

#WeekDay2{
	position: absolute;
	top: 10.4%;
	left: 1%;
	width: 5%;
	height: 4%;
	text-align: center;
	font-size: 4vw;
	z-index: 121;
}

#WeekDay3{
	position: absolute;
	top: 14.75%;
	left: 1%;
	width: 5%;
	height: 4%;
	text-align: center;
	font-size: 4vw;
	z-index: 121;
}

#WeekDay4{
   position: absolute;
   top: 18.85%;
   left: 1%;
   width: 5%;
   height: 4%;
   text-align: center;
   font-size: 4vw;
   z-index: 121;

}

#WeekDay5{
	position: absolute;
	top: 23.2%;
	left: 1%;
	width: 5%;
	height: 4%;
	text-align: center;
	font-size: 4vw;
	z-index: 121;
}

#WeekDay6{
	position: absolute;
	top: 27.5%;
	left: 1%;
	width: 5%;
	height: 4%;
	text-align: center;
	font-size: 4vw;
	z-index: 121;
}

#WeekDay7{
	position: absolute;
	top: 31.7%;
	left: 1%;
	width: 5%;
	height: 4%;
	text-align: center;
	font-size: 4vw;
	z-index: 121;
}

#Datel {
	position: absolute;
	top: 44.5%;
	left: 46.25%;
	width: 7.5%;
	text-align: center;
	font-size: 5vw;
	z-index: 50;
	color: #B43333;
	text-shadow:  -1px -1px 0px #202020, 1px 0px 0px #FFF;
}

/* END Slide CALENDAR */

/* Line CALENDAR */

#status {display: none;}

#linecalbg{
	position: absolute;
	background:url('../Images/Classic/linecal.png') center no-repeat;
	background-size: 100% 100%; 
	top: 0.5%;
	left: 0%;
	width: 100%;
    height: 100%;
	z-index: 50;
	opacity: 1;
}

#linecalendar {
	position: absolute;
	top: 36.8%;
	left: 14%;
	width: 85%;
	z-index: 51;
	font-family: BebasNeue;
	text-align: center;
	text-shadow: 1px  1px 1px #292929,
                  1px -1px 1px #292929,
                 -1px  1px 1px #292929,
                 -1px -1px 1px #292929;
	
}

.linedaysofweek {
	font-size: 4vw;
	padding: 0.9%;
	opacity: 0.8;
}

.linetoday {
	font-size: 4vw;
	color:#B43333;
	text-shadow: 1px  1px 1px #292929,
                  1px -1px 1px #292929,
                 -1px  1px 1px #292929,
                 -1px -1px 1px #292929;
	padding:  0% 1%;
}

#week {
	position: absolute;
	top: 36.75%;
	left: 1.5%;
	width: 10%;
	height: 4%;
	text-align: center;
	font-size: 4vw;
	opacity: 0.8;
	z-index: 50;
	display: none;
}

/* Line CALENDAR End*/

/* SECONDS LIGHT RING */

#secondhand_light {
	position: absolute;
	width: 45%;
	height: 45%;
	top: 28%;
	left: 28%;
}
 
.sec {
	position: absolute;
	width: 200%;
	height: 100%;
	-webkit-border-radius: 50%;
	opacity: 0.7;
}
 
.sec_right-mask  {
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	-webkit-transform-origin: 0% 50%;
}
 
.sec_left-mask  {
	position: absolute;
	left: -100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-transform-origin: 100% 50%;
	-webkit-transform: rotateZ(6deg);
}

/* DATA (ALPHABETICAL ORDER) */

#address{
    position: absolute;
	text-align: left;
	top: 21.1%;
	left: 2%;
	width: 30%;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

#APIName{
    position:absolute;
    top:32.8%;
    text-align:center;
    width:100%;
    font-size:4vw;
    text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	-webkit-transition: all 0.2s ease-in;
	z-index: 50;
}

#city {
	position: absolute;
	top: 49.5%;
	left: 40%;
	width: 60%;
	height: 4%;
	font-size: 3.5vw;
	text-align: left;
    text-shadow: black 0px -1px 0px;
	z-index: 50;
	letter-spacing: 0.7px;
	opacity: 0.8;
}

#coordinates {
	position: absolute;
	text-align: right;
	top: 21.1%;
	right: 2%;
	width: 30%;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

#Day0desc {
	position: absolute;
	top: 47%;
	left: 40%;
	width: 34%;
	height: 4%;
	font-size: 3.5vw;
	text-align: left;
	text-shadow: black 0px -1px 0px;
	z-index: 50;
	letter-spacing: 0.7px;
	opacity: 0.8;
}

#Day0HiLo {
	position: absolute;
	top: 42.75%;
	right: 6%;
	width: 33%;
	font-size: 3.5vw;
	text-align: center;
	text-shadow: black 0px -1px 0px;
	z-index: 70;
	opacity: 0.8;
	display: block;
}

#Day0Hi, #Day0Lo{}

#Day0Temp {
	position: absolute;
	top: 47%;
	left: 71%;
	width: 24%;
	text-align: right;
	font-size: 5vw;
	text-shadow: black 0px -1px 0px;
	z-index: 70;
	opacity: 0.8;
}

#dewpt {
	position: absolute;
	text-align: right;
	top: 33%;
	right: 2%;
	width: 30%;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
	display: none;
}

#feelslike {
	position: absolute;
	text-align: left;
	top: 24.6%;
	left: 2%;
	width: 30%;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

#humidity {
	position: absolute;
	text-align: right;
	top: 28.2%;
	right: 2%;
	width: 30%;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

#moonDescription{
	position: absolute;
	text-align: center;
	top: 20%;
	left: 0%;
	width: 100%;
	font-size: 3vw;
	text-shadow: black -1px 1px 1px, black -2px 2px 3px;
	z-index: 55;
	
}

#MoonInfo {
	position: absolute;
	text-align: center;
	top: 17.7%;
	left: 2%;
	height: 100%;
	width: 96%;
	font-family: BebasNeue;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
	-webkit-transition: opacity 0.6s ease-in-out;	
}

#Moonrise{
	position: absolute;
	text-align: left;
	width: 100%;	
}

#Moonset {
	position: absolute;
	text-align: right;
	left: 0%;
	right: 50%;
	width: 100%;
}

#pressure {
	position: absolute;
	text-align: right;
	top: 31.6%;
	right: 2%;
	width: 50%;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

#rising {
	position: absolute;
	text-align: center;
	top: 15.6%;
	left: 0%;
	width: 100%;
	font-size: 6vw;
	color: aquamarine;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

#SingleLineDate{
	position: absolute;
	top: 43.55%;
	left: 34.5%;
	width: 25%;
	font-size: 3vw;
	text-align: center;
	text-shadow: 1px  1px 1px #292929,
                  1px -1px 1px #292929,
                 -1px  1px 1px #292929,
                 -1px -1px 1px #292929;
	letter-spacing: 0.7px;
	z-index: 50;
	opacity: 0.8;
}

#SunInfo {
	position: absolute;
	text-align: center;
	top: 14.2%;
	left: 2%;
	height: 6%;
	width: 96%;
	font-family: BebasNeue;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
	-webkit-transition: opacity 0.6s ease-in-out;
}

#Sunrise{
	position: absolute;
	text-align: left;
	width: 50%;	
}

#Sunset{
	position: absolute;
	text-align: right;
	right: 0%;
	width: 50%;
}

#UVindex {
	position: absolute;
	text-align: right;
	top: 24.6%;
	right: 2%;
	width: 30%;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

#visibility {
	position: absolute;
	text-align: left;
	top: 28%;
	left: 2%;
	width: 30%;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

#WeatherInfoBG {
	position: absolute; 
	background: url('../Images/Classic/WeatherInfoBG.png') center no-repeat;
	background-size: 100% 100%;
	top: 0%; 
	width: 100%;
    height: 100%;
    opacity: 1.0;
	z-index: 30;
	display: none;
}

#windInfoContainer {
	position: absolute;
	top: 30.6%;
	left: 30%;
	width: 40%;
}

#windspeed {
	position: relative;
	text-align: center;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

#windArrow {
	position: relative;
	text-align: center;
	top: 24%;
	left: 0%;
	color: lime;
	font-size: 6vw;
	width: 100%;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	-webkit-transition: all 3s ease-in-out;
	z-index: 50;
}
#xmlupdate {
	position: absolute;
	text-align: left;
	top: 31.6%;
	left: 2%;
	width: 50%;
	font-size: 4vw;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	z-index: 50;
}

/* CONTAINERS */

#astronautContainer {
    position: absolute;
    top: 4%;
	left: 0px;
	width: 100%;
	height: 100%;
    z-index: 16;
    overflow: hidden;
}

#big_balloonContainer {
    position: absolute;
    top: 25px;
	left: 0px;
	width:100%;
	height: 100%;
    z-index: 25;
    overflow: hidden;
}

#birdsContainer {
    position: absolute;
    top: 10px;
	left: 0px;
	width: 100%;
	height: 100%;
    z-index: 24;
    overflow: hidden;
}

#circleContainer {
    position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#cloudContainer {
    position: absolute;
    top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
    z-index: 21;
    overflow: hidden;
}

#dandelionContainer {
    position: absolute;
    top: 0px;
	left: 0px;
    width: 100%;
    height: 100%;
    z-index: 60;
    overflow: hidden;
}

#dropContainer {
    position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#fogContainer {
    position: absolute;
    top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
    z-index: 80;
    opacity: 0.8;
    overflow: hidden;
}

#frameContainer {
    position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    z-index: 20;
    overflow: hidden;
}

#leafContainer {
    position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    z-index: 85;
    overflow: hidden;
}

#medium_balloonContainer {
    position: absolute;
    top: 1.3%;
	left: 0%;
	width: 100%;
	height: 100%;
    z-index: 24;
    overflow: hidden;
}

#meteorContainer {
    position: absolute;
    top: 1%;
	left: 0%;
	width: 100%;
	height: 100%;
    z-index: 7;
    overflow: hidden;
}

#rainbowContainer {
    position: absolute;
    top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
    z-index: 22;
    overflow: hidden;
}

#rainContainer {
    position: absolute;
    top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
    overflow: hidden;
    z-index: 29;
}

#small_balloonContainer {
    position: absolute;
    top: 2.6%;
	left: 0%;
	width: 100%;
	height: 100%;
    z-index: 23;
    overflow: hidden;
}

#starContainer {
    position: absolute;
    top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
    z-index: 6;
    overflow: hidden;
}

#sun_moonContainer {
    position: absolute;
    top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
    z-index: 10;
    overflow: hidden;
}

#twilightBG {
	position: absolute;
	background: url('../Images/Layer/twilight.png') center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 18;
	-webkit-transition: all 1s ease-in-out;
}

#WeatherContainer {
	position: absolute;
	width : 100%;
	height: 100%;
	z-index: 50;
}

#windmillContainer{
    position: absolute;
    top: 0px;
	left: 0px;
    width: 100%;
    height: 100%;
    z-index: 49;
    overflow: hidden;
}

#wiperContainer {
    position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
	height: 75%;
    z-index: 49;
    overflow: hidden;
}

#wireContainer {
    position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* FORECASTS */

#forecast_hourlyforecast_Container {
	position: absolute;
	top: 0%;
	width : 100%;
	height: 100%;
	z-index: 52;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out;
}

#forecastContainer {
	position: absolute;
	top: 0%;
	width : 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.4s ease-in-out;
}

#Day1Icon {
	position: absolute;
	top: 14.2%;
	left: 3%; /* set in main.js */
	width: 7%;
	clip: rect(10px,212px,212px,0px);
}

#Day2Icon {
	position: absolute;
	top: 18.2%;
	left: 3%; /* set in main.js */
	width: 7%;
	clip: rect(10px,212px,212px,0px);
}

#Day3Icon {
	position: absolute;
	top: 22.3%;
	left: 3%; /* set in main.js */
	width: 7%;
	clip: rect(10px,212px,212px,0px);
}

#Day4Icon {
	position: absolute;
	top: 26.4%;
	left: 3%; /* set in main.js */
	width: 7%;
	clip: rect(10px,212px,212px,0px);
}

#Day5Icon {
	position: absolute;
	top: 30.4%;
	left: 3%; /* set in main.js */
	width: 7%;
	clip: rect(10px,212px,212px,0px);
}
#Day1Pop {
	position: absolute;
	top: 15.2%;
	left: 12%; /* set in main.js */
 	font-weight: normal;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day2Pop {
	position: absolute;
	top: 19.3%;
	left: 12%; /* set in main.js */
 	font-weight: normal;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day3Pop {
	position: absolute;
	top: 23.4%;
	left: 12%; /* set in main.js */
 	font-weight: normal;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day4Pop {
	position: absolute;
	top: 27.5%;
	left: 12%; /* set in main.js */
 	font-weight: normal;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day5Pop {
	position: absolute;
	top: 31.5%;
	left: 12%; /* set in main.js */
 	font-weight: normal;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day1 {
	position: absolute;
	top: 15.2%;
	left: 2%; /* set in main.js */
	width: 17%;
	text-align: center;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day2 {
	position: absolute;
	top: 19.3%;
	left: 2%; /* set in main.js */
	width: 17%;
	text-align: center;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day3 {
	position: absolute;
	top: 23.4%;
	left: 2%; /* set in main.js */
	width: 17%;
	text-align: center;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day4 {
	position: absolute;
	top: 27.5%;
	left: 2%; /* set in main.js */
	width: 17%;
	text-align: center;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day5 {
	position: absolute;
	top: 31.5%;
	left: 2%; /* set in main.js */
	width: 17%;
	text-align: center;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day1HiLo {
	position: absolute;
	top: 15.2%;
	left: 2.2%; /* set in main.js */
	width: 17%;
	text-align: center;
 	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day2HiLo {
	position: absolute;
	top: 19.3%;
	left: 2.2%; /* set in main.js */
	width: 17%;
	text-align: center;
 	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day3HiLo {
	position: absolute;
	top: 23.4%;
	left: 2.2%; /* set in main.js */
	width: 17%;
	text-align: center;
 	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day4HiLo{
	position: absolute;
	top: 27.5%;
	left: 2.2%; /* set in main.js */
	width: 17%;
	text-align: center;
 	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Day5HiLo{
	position: absolute;
	top: 31.5%;
	left: 2.2%; /* set in main.js */
	width: 17%;
	text-align: center;
 	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}
/* HOURLY FORECAST */

#Hicon0, #Hicon1, #Hicon2, #Hicon3, #Hicon4, #Hicon5, #Hicon6, #Hicon7, #Hicon8, #Hicon9, #Hicon10, #Hicon11 {
	position: absolute;
	top: 5.2%;
	left: 1.4%; /* set in main.js */
	width: 8%;
}

#Hpop0, #Hpop1, #Hpop2, #Hpop3, #Hpop4, #Hpop5, #Hpop6, #Hpop7, #Hpop8, #Hpop9, #Hpop10, #Hpop11 {
	position: absolute;
	top: 6.8%;
	left: 2.5%; /* set in main.js */
	width: 9%;
	text-align: left;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Hour0, #Hour1, #Hour2, #Hour3, #Hour4, #Hour5, #Hour6, #Hour7, #Hour8, #Hour9, #Hour10, #Hour11 {
	position: absolute;
	top: 9.4%;
	left: 1.57%; /* set in main.js */
	width: 9%;
 	text-align: center;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

#Htemp0, #Htemp1, #Htemp2, #Htemp3, #Htemp4, #Htemp5, #Htemp6, #Htemp7, #Htemp8, #Htemp9, #Htemp10, #Htemp11 {
	position: absolute;
	top: 9.4%;
	left: 1.3%; /* set in main.js */
	width: 9%;
 	text-align: left;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
}

/* MOON PHASE */

#Moonphase {
	position: absolute;
	top: 0%;
	width : 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease-in-out;
	z-index: 50;
}

#MoondateIcon0, #MoondateIcon1, #MoondateIcon2, #MoondateIcon3 {
	position: absolute;
	top: 5.5%;
	left: 7%; /* set in main.js */
	width: 7%;
	z-index: 1;
}

#Moondate0, #Moondate1, #Moondate2, #Moondate3 {
	position: absolute;
	top: 9.6%;
	left: 1.8%; /* set in main.js */
	width: 23%;
 	text-align: center;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
 	font-size: 4vw;
	z-index: 1;
}

#Charging{
	position: absolute;
	top: 58.25%;
	right: 2%;
	font-size: 2.75vw;
	opacity: 0.6;
	z-index: 78;
}

#battery{
	position: absolute;
	top: 55.5%;
	right: 6%;
	font-size: 2.75vw;
	opacity: 0.6;
	z-index: 78;
}

#BatteryImage{
	position: absolute;
	top: 52%;
	left: 39%;
	width: 58%;
	z-index: 78;
}

#BatteryCharging{
	position: absolute;
	top: 54.75%;
	left: 94%;
	width: 5%;
	z-index: 78;
}

#title{
	position: absolute;
	white-space: nowrap;
	top: 7.5%;
	left: 0%;
	width: 100%;
	font-size: 4vw;
	text-align: center;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	overflow: scroll;
	z-index: 80;
}

#artist{
	position: absolute;
	top: 11%;
	left: 0%;
	width: 100%;
	font-size: 5vw;
	font-weight: 100;
	text-align: center;
	text-shadow: black 0px 1px 1px, black 0px 2px 3px;
	overflow: scroll;
	z-index: 80;
}

#art{
	position: absolute;
	background-size: cover;
	background-image: url('../Images/MediaPlayer/blank.png');
	top: 17.5%;
	left: 3.75%;
	width: 31.75%;
	height: 16%;
	z-index: 80;
}

#Glas {
	position: absolute; 
	background-image: url('../Images/MediaPlayer/Glas.png');
	background-size: 100% 100%; 
	top: 17.75%;
	left: 46%;
	width: 51%;
    height: 9%;
	opacity: 0.8;
	z-index: 100;
}

#PBG {
	position: absolute; 
	background-image: url('../Images/MediaPlayer/PBG.png');
	background-size: 100% 100%; 
	top: 0%;
	left: 0%;
	width: 100%;
    height: 100%;
	z-index: 50;
}

#eq{
	position: absolute;
	top: 11.27%;
	left: 47%;
	width: 48.75%;
	background-size: cover;
	background-image: url('../Images/MediaPlayer/blankbg.png');
	z-index: 50;
}

#eqbg0{
	position: absolute;
	top: 11.25%;
	left: 47%;
	width: 48.75%;
	z-index: 51;
}

#controls{
	position: absolute;
	margin-left: 67%;
	margin-top: 50%;
	with:30%;
	z-index: 100;
}

#play{}

#next{
	position: absolute;
	top:15%;
	left: 150%;
}

#prev{
	position: absolute;
	top:15%;
	left: -125%;
}

/*///////// NEW WW3 STUFF ///////////*/

/* All Forecast Extras */
#defSumm,#wuSumm,#fioSumm,#accuDayShortSumm,#accuDayLongSumm,#yahooSumm {
	position:absolute;
	top: 59%;  /* set in main.js for Wallpaper.html */
	left: 2%;
	width: 94%; 
	height: 25%;  /* set in main.js for Wallpaper.html */
	overflow-y: hidden;
	font-size: 3.19vw;
	font-weight: lighter;
	font-family: FuturaLT;
	text-align: justify;
	text-shadow: #000 0px 1px 1px;
	line-height: 120%;  /* set in main.js for Wallpaper.html */
	z-index: 999;
	padding: 1%;
	background-color: rgba(0,0,0,0.6);
	border: 1px solid rgba(150,150,150,0.1);	
	border-radius: 5px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.9);
	-webkit-transition: all 0.2s ease-in;
	display: none;
} /* DON'T TOUCH THIS -automatic in main.js per user's API choice */

#SummBackground {
	position: absolute;
	background: url('../Images/Classic/0.png') center no-repeat;
	background-size: 100% 100%;
	width: 100%;
    height: 100%;
	overflow: hidden;
	z-index: 52;
	-webkit-transition: all 0.2s ease-in;
	display: none;
}

#TouchSumm { /* On-Off Touch Layer for Forecast Summaries */
	position: absolute;
	top: 8%;
	left: 11%;
	width: 76%; /* set in main.js for LockBackground.html */
	height: 25%;
	z-index: 9999;
}

/* WeatherUnderground Current Extras */
#wuCity { position:absolute;width:95%;top:3.5%;left:2%;font-size:3.5vw;text-align:left;}
#wuWeatherStation { position:absolute;width:95%;top:6%;left:2%;font-size:3.5vw;text-align:left;}
#wuElevation { position:absolute;width:95%;top:8.5%;left:2%;font-size:3.5vw;text-align:left;}
#wuWindText { position:absolute;width:95%;top:11%;left:2%;font-size:3.5vw;text-align:left;}
#wuForecast { position:absolute;width:96%;top:13.5%;left:2%;font-size:3.5vw;text-align:left;line-height:120%;height:4.8%;-webkit-overflow-scrolling:touch;overflow-y:scroll;z-index:9999;} 

/* Forecast.io Current Extras */
#fioAPICalls { position:absolute;width:95%;top:18.5%;left:45%;font-size:3.5vw;text-align:left;;}
#fioCloudCover { position:absolute;width:95%;top:18.5%;left:2%;font-size:3.5vw;text-align:left;}
#fioOzone { position:absolute;width:95%;top:21%;left:2%;font-size:3.5vw;text-align:left;}  
#fioStormDistance { position:absolute;width:95%;top:23.5%;left:2%;font-size:3.5vw;text-align:left;}
#fioStormBearing { position:absolute;width:95%;top:26%;left:45%;font-size:3.5vw;text-align:left;}
#fioPrecipIntensity { position:absolute;width:95%;top:26%;left:2%;font-size:3.5vw;text-align:left;}
#fioHourSummary { position:absolute;width:95%;top:28.5%;left:2%;font-size:3.5vw;text-align:left;line-height:120%;}
#fioDaySummary { position:absolute;width:92%;top:31%;left:2%;font-size:3.5vw;text-align:left;line-height:120%;}
#fioWeekSummary { position:absolute;width:92%;top:36%;left:2%;font-size:3.5vw;text-align:left;line-height:120%;}

/* Accuweather Current Extras */
#accuUV { position:absolute;width:95%;top:43%;left:2%;font-size:3.5vw;text-align:left;line-height:120%;}
#accuPrecip { position:absolute;width:95%;top:43%;left:24%;font-size:3.5vw;text-align:left;line-height:120%;}
#accuRain { position:absolute;width:95%;top:45.5%;left:2%;font-size:3.5vw;text-align:left;line-height:120%;}
#accuSnow { position:absolute;width:95%;top:45.5%;left:38%;font-size:3.5vw;text-align:left;line-height:120%;}
#accuTStormProb { position:absolute;width:95%;top:43%;left:61%;font-size:3.5vw;text-align:left;line-height:120%;}
#accuShortSumm { position:absolute;width:92%;top:48%;left:2%;font-size:3.5vw;text-align:left;line-height:120%;}
#accuLongSumm { position:absolute;width:92%;top:50.5%;left:2%;font-size:3.5vw;text-align:justify;line-height:120%;}

/* Accuweather Allergy Extras */
#accuAirQuality_Type { position:absolute;width:95%;top: 55%;left:2%;font-size:3.2vw;text-align:left;}
#accuWeed { position:absolute;width:95%;top:57%;left:2%;font-size:3.2vw;text-align:left;}
#accuMold { position:absolute;width:95%;top:57%;left:50%;font-size:3.2vw;text-align:left;}
#accuTree { position:absolute;width:95%;top:59%;left:50%;font-size:3.2vw;text-align:left;}
#accuGrass { position:absolute;width:95%;top:59%;left:2%;font-size:3.2vw;text-align:left;}

/* Accuweather Planet Extras */
#accuMercury { position:absolute;width:95%;top:61%;left:2%;font-size:3.2vw;text-align:left; }
#accuVenus { position:absolute;width:95%;top:61%;left:50%;font-size:3.2vw;text-align:left; }
#accuMars { position:absolute;width:95%;top:63%;left:2%;font-size:3.2vw;text-align:left; }
#accuJupiter { position:absolute;width:95%;top:63%;left:50%;font-size:3.2vw;text-align:left; }
#accuSaturn { position:absolute;width:95%;top:65%;left:2%;font-size:3.2vw;text-align:left; }
#accuUranus { position:absolute;width:95%;top:65%;left:50%;font-size:3.2vw;text-align:left; }
#accuNeptune { position:absolute;width:95%;top:67%;left:2%;font-size:3.2vw;text-align:left; }
#accuPluto { position:absolute;width:95%;top:67%;left:50%;font-size:3.2vw;text-align:left; }
